*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    padding: 1.8%;
}
.navbar a{
    text-decoration: none;
    font-size: 17px;
    color: black;
    margin-left: 4%;
    vertical-align: middle;
    font-weight: bold;
}
.logo{
    margin: 0%;
}
#signin{
    background-color: #00baf2;
    color: white;
    border-radius: 25px;
    margin-left: 1%;
    border: none;
    width: 10%;
    font-weight: bold;
    font-size: 18px;
}
#signin:hover{
    background-color: #2b54a6;
}
.wallet{
    background-color: #f6f6f6;
    text-align: center;
    padding: 1%;
}
.sec2{
    display: flex;
    justify-content: space-between;
    padding: 5% 0% 5% 5%;
    margin: 2%;
}
.UPI{
    margin-left: 3%;
}
.UPI p{
    font-size: 24px;
    font-weight: normal;
    margin-left: 3%;
}
.UPI h1{
    margin-left: 3%;
}
#app{
    border: 1px solid black;
    width: 55%;
    border-radius: 23px;
    padding: 2%;
    background-color: black;
    color: white;
    font-size: 17px;
    margin-left: 2%;
    margin-top: 6%;
}
#app:hover{
    background-color: white;
    color: black;
}
#app i{
    margin: 0% 2%;
}
.one{
    margin-top: 5%;
    font-size: 40px;
}
.two2{
    font-size: 40px;
}
.two{
    margin-top: 6%;
}
/*start sec3*/
.head2{
    padding-top: 4%;
    padding-left: 7%;
    text-align: left;
    font-size: 35px;
    color: white;
}
.sec3{
    text-align: center;
    margin-top: 0%;
}